<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>tell</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
    </header>

    <% if(locals.isLoggedIn === false){ %> 
        <h1 class="need-login">ログインまたは新規登録してください</h1>
        <dev class="jumpList">
            <a href="/">トップへ戻る</a>
        </dev>
        <% } else {%>
            <dev class="form-box">
                <form action="/createPa" method="post" class="add-form">
                    <h1 class="add-title">利用者の追加</h1>
                    <p class='userName-sentence'>利用者氏名</p>
                    <dev class="add-box">
                        <input type="text" class='add-input' name='addPaName'>
                    </dev>
                    <p class="user-phoneNo">電話番号</p>
                    <dev class="add-box">
                        <input type="text" class="add-input" name='addPhoneNum'>
                    </dev>
                    <dev class="add-submit">
                        <input type="submit" value="登録" class="addInfoSubmit">
                    </dev>
                </form>
                <dev class="jumpList">
                    <a href="/pa" class="btn">利用者一覧へ戻る</a>
                </dev>
                </dev> 
                <% } %>
 
</body>
</html>