<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>todoList</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
   </header>
   <dev class="guide">
        <h1 class="guide-title">Tell DO Listの使い方</h1>
        <dev class="guidelist-cont">
            <ul class="guidelist">
                <li class="guidelist-ti">①新規登録またはログインしてみましょう。</li>
                <li class="guidelist-sen">右上のLoginボタンSignupボタンからログインまたは新規登録してみましょう。</li>
            </ul>          
        </dev>

    </dev>

   <dev class="jumpList">
    <a href="/">トップへ戻る</a>
</dev>
</body>
</html>