<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>todoList</title>
</head>
<body>
        <a href="/"><h1 class="top-title">TDL</h1></a>
        <div class="header-nav">
            <p>ようこそ、<%= locals.userName %>さん</p>
            <% if(locals.isLoggedIn){ %>
           <a href="/logout"><img src="/images/logout.png"></a>
           <% } else{ %>
           <a href="/login"><img src=/images/login.png></a>
           <a href="/signup"><img src=/images/add-user.png></a>
           <% }%> 
        </div>
</body>
</html>