<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <% if (errors.length > 0) { %>
        <ul class="errors">
          <% errors.forEach(error =>{ %>
          <li> <%= error %> </li> 
          <% }); %>
        </ul>
        <% } %>

    <form action="/login"  method="post" class="login-form">
        <p class="login-text">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x"></i>
            </span>
          </p>
        <input type="text" name="email" autofocus="true" required="true" placeholder="Email" class="login-email">
        <input type='password' name="password" class="login-password" required="true" placeholder="Password">
        <input type="submit" value='Login' class="login-submit">
    </form>
    <dev class="jumpList">
        <a href="/">トップへ戻る</a>
      </dev>
</body>
</html>