<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>PatientList</title>
</head>
<body>
  <header>
    <%- include('header.ejs') %>
 </header>
      <% if(locals.isLoggedIn === false){ %> 
        <h1 class="need-login">機能を使用するにはログインまたは新規登録してください</h1>
        <% } else {%>
        <dev class='list-title'>
          <h1 class="title">ユーザー一覧</h1>
          <a href="/addpa" class="add-url"><img src='/images/plus.png' class="add-btn"></a>     
        </dev>
   <dev>
    <% pa.forEach((pa) =>{ %>
      <li>
        <div class="lists">
          <span class="paName"><%= pa.paName %>様</span>
          <span class="paPhone">TEL:(<%= pa.phoneNum %>)</span>
          <form class='delete-user' action="/deletePa/<%=pa.paId%>" method="post">
            <input class='delete-btn' type="image" src="/images/delete.png" alt="削除" name="deletePa">
          </form>
        </div>
      </li>
      <% }) %>
      <% } %>
   </dev>
   <dev class="jumpList">
    <a href="/">トップへ戻る</a>
  </dev>
     
</body>
</html>