<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>PatientList</title>
</head>
<body>
  <header>
    <%- include('header.ejs') %>
 </header>
    <dev class='title-container'>
      <h1 class="title">ユーザー一覧</h1>
      <% if(locals.isLoggedIn === false){ %> 
        <h1>機能を使用するにはログインしてください</h1>
        <% } else {%>
      <a href="/addpa" class="add-url"><img src='/images/plus.png' class="add-btn"></a>     
   </dev>
   <dev>
    <% pa.forEach((pa) =>{ %>
      <li>
        <div class="paData">
          <span class="listUserName"><%= pa.paName %></span>
          <span class="listAction"><%= pa.phoneNum %></span>
          <form class='delete-user' action="/deletePa/<%=pa.paId%>" method="post">
            <input class='delete-btn' type="image" src="/images/delete.png" alt="削除" name="deletePa">
          </form>
        </div>
      </li>
      <% }) %>
      <% } %>
   </dev>
      <dev class="btn">
        <a class="top-btn" href="/">トップへ戻る</a>
      </dev> 
     
</body>
</html>