<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>Tell Do List</title>
</head>
<body>
    <header>
        <h1 class="top-title">Tell Do List</h1>
        <%- include('header.ejs') %>
    </header>

    <dev class="images">
        <img src="/images/clipboard.png" class="fImg">
        <img src="/images/phone-call.png" class="lImg">
    </dev>

    <dev class="jumpList">

        <a class="btn list-btn" href="/list">リスト一覧へ</a>
        <a class="btn user-btn" href="/pa">ユーザー一覧へ</a>
        <% if(locals.isLoggedIn){ %> <% } %>
    </dev>

</body>
</html>