<!DOCTYPE html>
<html lang="js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>Tell Do List</title>
</head>

<body>
    <header>

        <%- include('header.ejs') %>
    </header>
    <dev class="top-center">
        <h1 class="tell">Tell</h1>
        <h1 class="do">Do</h1>
        <h1 class="list">List</h1>
    </dev>
    <dev class="jumpList">

        <a class="btn list-btn" href="/list">リスト一覧へ</a>
        <a>/</a>
        <a class="btn user-btn" href="/pa">ユーザー一覧へ</a>
        <% if(locals.isLoggedIn){ %> <% } %>
    </dev> 
</body>
</html>