<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/css/style.css">
    <title>Tell Do List</title>
</head>
<body>
    <dev class="title-cont">
        <h1 class="tdlTitle">Tell Do List</h1>
    </dev>
    <dev class="images">
        <img src="/images/clipboard.png" class="fImg">
        <img src="/images/phone-call.png" class="lImg">
    </dev>
    <a href="/login">ログインする</a>
    <%# 
    <dev class="jumpList">
        <a class="btn list-btn" href="/list">リスト一覧へ</a>
        <a class="btn user-btn" href="/user">ユーザー一覧へ</a>
    </dev>
    %>
</body>
</html>