@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body {
  width: 100%;
  margin: 0%;
  color: white;
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

body header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  color: black;
}

body header a {
  text-decoration: none;
  color: black;
}

body header a .top-title {
  margin-top: 0px;
  margin-left: 16px;
  font-size: 56px;
  margin-bottom: 0px;
  height: 8vh;
}

body header .header-nav {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-nav p {
  margin-right: 48px;
  margin-top: 24px;
}

body header .header-nav a {
  text-decoration: none;
  margin-right: 32px;
}

body header .header-nav a img {
  height: 4vh;
  width: auto;
  margin-top: 16px;
}

body header .header-nav a img:hover {
  opacity: 0.3;
}

body .top-center {
  text-align: center;
}

body .top-center .tell {
  font-size: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

body .top-center .do {
  font-size: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

body .top-center .list {
  font-size: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

body .jumpList {
  display: block;
  margin-top: 80px;
  text-align: center;
}

body .jumpList a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
}

body .jumpList a:hover {
  color: gray;
}

body .need-login {
  margin-top: 160px;
  text-align: center;
  margin-bottom: 160px;
  font-size: 48px;
}

body .list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .list-title h1 {
  font-size: 48px;
}

body .list-title .add-url {
  height: 48px;
  margin-top: 40px;
  margin-left: 16px;
}

body .list-title .add-url:hover {
  opacity: 0.8;
}

body .list-title .add-url img {
  height: 48px;
}

body li {
  list-style: none;
}

body li .lists {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px gray solid;
  font-size: 24px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body li .lists .paPhone {
  margin-left: 16px;
}

body li .lists .delete-btn {
  height: 32px;
  margin-left: 16px;
}

body li .lists .delete-btn:hover {
  opacity: 0.8;
}

body .login-form {
  margin-top: 160px;
  margin-bottom: 80px;
  width: 32%;
  margin: 0 auto;
  margin-top: 240px;
  border-radius: 50px white bold;
}

body .login-form input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body .login-form input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body .login-form input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body .login-form input:focus {
  outline: 0 transparent solid;
}

body .login-form input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

body .login-form input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

body .login-form input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

body .login-form .login-form {
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
}

body .login-form .login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
}

body .login-form .login-text .fa-stack-1x {
  color: black;
}

body .login-form .login-email, body .login-form .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}

body .login-form .login-email:focus, body .login-form .login-password:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

body .login-form .login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

body .login-form .login-submit:hover, body .login-form .login-submit:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

body .login-form [class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

body .login-form .underlay-photo {
  -webkit-animation: hue-rotate 6s infinite;
          animation: hue-rotate 6s infinite;
  background: url("https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg");
  background-size: cover;
  z-index: -1;
}

body .login-form .underlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */